.manage-quiz-container {
  //   padding: 15px;
  .title {
    font-size: 30px;
    font-weight: 600;
  }
  .add-new {
    .form-add-new-quiz {
      .title-form {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
