@import "~react-pro-sidebar/dist/scss/styles.scss";

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .navbar {
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          // color: red;
        }
      }
    }
  }
  .homepage-container {
    .homepage-content {
      padding: 100px;
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      gap: 30px;
      .title-1 {
        font-size: 45px;
        font-weight: 600;
      }
      .title-2 {
        font-size: 25px;
      }
      .title-3 {
        button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          height: 40px;
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  // top: 0;
  width: 100vw;
}
