.login-container {
  .loader-icon {
    margin-right: 7px;
    top: 2px;
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
  }
  .header {
    height: 45px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border: 1px solid #000;
      padding: 3px 15px;
      border-radius: 5px;
      background-color: #fff;
    }
  }
  .title {
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
  }

  .content-form {
    padding: 10px;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      margin-bottom: 15px;
      margin-top: 3px;
    }
    button {
      width: 100%;
      height: 40px;
      border: none;
      margin: 20px 0;
      border-radius: 5px;
      color: white;
      background: black;
      &:disabled {
        background: #ddd;
        color: #afafaf;
        cursor: no-drop;
      }
    }
    .back {
      cursor: pointer;
      padding: 3px 10px;
      &:hover {
        background: #d3d3d3;
      }
    }
  }
}
