.register-container {
  .header {
    height: 45px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border: 1px solid #000;
      padding: 3px 15px;
      border-radius: 5px;
      background-color: #fff;
    }
  }
  .title {
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
  }

  .content-form {
    padding: 10px;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      margin-bottom: 15px;
      margin-top: 3px;
    }
    button {
      width: 100%;
      height: 40px;
      border: none;
      margin: 20px 0;
      border-radius: 5px;
      color: white;
      background: black;
    }
    .back {
      cursor: pointer;
      padding: 3px 10px;
      &:hover {
        background: #d3d3d3;
      }
    }
    .form-group-password {
      position: relative;
      .show-password {
        position: absolute;
        right: 20px;
        top: 35%;
        font-size: 20px;
      }
    }
  }
}
